page-home {

    .title-image {
        // margin: 0px;
        // height: 27px;
        margin: 0%;
        padding: 0%;       
    }

    .slide-atas{
        // visibility: hsidden;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;
        height: 30%;
    }

}
